<header class="flex justify-between items-stretch h-12 pl-4 bg-purple-600 text-white">
    <strong class="text-lg flex items-center">NWise Todo</strong>
    <ng-container *ngIf="currentUser$ | async; let user">
        <button *ngIf="user != null"
                (click)="signOut()"
                class="px-2 hover:bg-purple-700 flex items-center">
            <span>{{user.displayName}}</span>
            <img [src]="user.avatarUrl" alt="Avatar" class="rounded-full h-8 w-8 mx-2 inline-block">
        </button>
    </ng-container>
</header>