<header>
  <nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1">NWise Todo</span>
    <div>
      <ng-container *appVar="currentUser$ | async as user">
        <div class="dropdown">
          <a *ngIf="user != null"
              class="px-2 text-white"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>{{user.displayName}}</span>
              <img [src]="user.avatarUrl" alt="Avatar" class="navbar-avatar ml-2">
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="user != null">
            <a class="dropdown-item"
               *ngFor="let item of dropDownMenuItems$ | async"
               (click)="onItemClick(item)">{{item.title}}</a>
            <a class="dropdown-item" (click)="signOut()">Sign Out</a>
          </div>
        </div>
        <a class="px-2 text-white"
           [routerLink]="['signin']"
           *ngIf="user == null">
            SignIn
        </a>
      </ng-container>
    </div>
  </nav>
</header>
