<div class="d-flex flex-column justify-content-center bg-light h-full container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-8 col-lg-6">
      <form class="form-inline d-flex mb-2" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <input type="text" class="form-control flex-1" formControlName="title">
        <button type="submit" class="btn btn-secondary ml-2">Add</button>
      </form>
      <div class="bg-white rounded shadow-sm p-4">
        <ul class="list-unstyled">
            <li *ngFor="let todo of todos$ | async" class="border-bottom mt-1">
              <label class="text-body" [ngClass]="{'line-through text-black-50': todo.isDone}">
                <input type="checkbox" [ngModel]="todo.isDone" (ngModelChange)="todoUpdated(todo, $event)" class="mr-1">
                {{todo.title}}
              </label>
              <a class="float-right text-muted" href="javascript://" (click)="deleteTodo(todo)">
                <i class="fa fa-trash"></i>
              </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
