<div class="d-flex flex-column justify-content-center bg-light h-full container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-8 col-lg-6">
      <div  class="alert alert-danger" role="alert" *ngIf="errorMessage">
          <strong class="mr-1">SingIn Failed!</strong>
          <span>{{errorMessage}}</span>
      </div>

      <div class="bg-white rounded shadow px-5 py-4 mb-2">
          <h1 class="text-center mb-4">Signin</h1>
          <form class="mb-4 form-hrizontal" [formGroup]="signinForm" (ngSubmit)="onSubmit($event)">
              <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" type="text" id="email" name="email" formControlName="email">
              </div>
              <div class="mb-4">
                  <label for="password">Password</label>
                  <input class="form-control" type="password" name="password" id="password" formControlName="password">
              </div>
              <div class="d-flex align-items-center justify-content-between">
                  <button class="btn btn-primary" type="submit" [disabled]="signinForm.invalid">Signin</button>
                  <a>Forgot Password?</a>
              </div>
          </form>
          <button class="btn btn-block btn-default" (click)="onGoogleSignIn()">
              <img src="https://cdn.worldvectorlogo.com/logos/google-icon.svg" class="inline-block w-6 h-6">
              Sign in with Google
          </button>
      </div>

      <div class="text-center text-secondary">
        <small>
          &copy;2020 NWise Todo. All rights reserved.
        </small>
      </div>
    </div>
  </div>
</div>
